header, footer{
    background-color: rgb(93, 96, 17);
    padding: 30px;
    text-align: center;
    color: white;

}

body{
    font-family: 'Merriweather', serif;
    background-color: white;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.7;
  
}

h1, h2, h3 {
    font-family: 'poppins', sans-serif;
    color: #2e2e2e;
    margin-bottom: 15px;
}

p {
    font-size: 1.05rem;
    margin-bottom: 15px;
}

section{
   padding: 60px 0;
}
